<h1>Adatkötés típusok angularban</h1>


<h3>Interpoláció :kiolvassa és megjeleníti az értékeket a backend kódból</h3>
<p>{{szoveg}}</p>


<h3>Property binding</h3>
<a [href]="kepUtvonal" [target]="kepCel"><img [src]="kepLink" [alt]="kepAlternativSzoveg" [title]="kepCimke"
        [width]="kepSzelesseg"></a>


<h3>Event binding</h3>
<button type="button" class="btn btn-primary" (click)="uzenet()">Csapat infó</button>
<button type="button" class="btn btn-dark" (click)="ittAFonok()">Váltás főnök nézetre</button>

<h3>Kétirányú adatkötés azaz Two Way DataBinding</h3>
<p>Ha kétirányú adatkötésnél formokat használunk, akkor importálni kell a <code>FormsModule</code> elemet a
    <code>app.module.ts</code> állomány imports részénél, lásd az aktuális projektben is megtettük ezt!
</p>
<label for="aOldal">Az a oldal mérete:</label>
<input type="number" class="form-control w-100 my-2" id="aOldal" [(ngModel)]="aOldal">
<p>A négyzet oldalának métere: {{aOldal}}</p>
<p>A négyzet kerülete: {{aOldal*4}}</p>
<p>A négyzet területe: {{aOldal*aOldal}}</p>